.mobile-menu-overlay {
    display: none;

    opacity: 0;
    transition: opacity .2s;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 111;

    background-color: #000000cc
}

.mobile-menu-panel {
    width: 250px;

    background-color: #F5F5F5;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;

    transform: translateX(250px);
    transition: transform .2s;

    >.container {
        padding-right: 5px;
        padding-left: 10px;

        position: relative;

        >.header {
            position: absolute;
            top: 0;
            right: 0;
            bottom: auto;
            left: 0;

            background-color: #F5F5F5;
            border-bottom: 1px solid #D3D3D3;
        }

        >.menu {
            overflow-y: auto;
            height: 100vh;
        }
    }
}

.open {
    transform: translateX(0px);
}

.mobile-menu-panel-container {
    padding-top: 35px;
    padding-bottom: 50px;
}

.mobile-menu-panel--header {
    height: 35px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .c-1 {
        display: grid;
        align-items: center;
    }

    .c-2 {
        position: relative;
    }
}

.mobile-menu {
    padding-top: 25px;
    padding-bottom: 25px;

    .item {
        border-bottom: 1px solid #D3D3D3;

        .link {
            color: #373737;
            transition: color .15s;

            display: block;
            padding: 10px 0;

            &:hover {
                color: #F8A325;
            }
        }
    }
}

.mobile-menu-title {
    padding-left: 10px;
    border-right: 1px solid #D3D3D3;

    .t {
        font-size: 14px;
        text-transform: uppercase;
        color: #333333;
    }
}

.mobile-menu-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    .i {
        font-size: 20px;
        color: #F8A325;
    }
}