.header-fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;

    z-index: 111;

    >.container {
        margin: 0 auto;

        max-width: 1920px;
        min-width: 320px;

        border-bottom: 1px solid #D3D3D3;
        background-color: #F5F5F5;
    }
}

.header {

    >.container {}
}