<footer class="footer">
    <div class="row-1">
        <div class="container">
            <div class="footer-top">
                <div class="c-1">
                    <h4 class="footer-title">Info & Social</h4>

                    <ul class="footer-menu-info">
                        <li class="item">
                            <div class="footer-info--item">
                                <div class="i-1">
                                    <i class="footer-menu-info--icon icon-time"></i>
                                </div>

                                <div class="i-2">
                                    <span class="t">
                                        Training Time: Sun - Fri(6am To 5pm)
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li class="item">
                            <div class="footer-info--item">
                                <div class="i-1">
                                    <i class="footer-menu-info--icon icon-location"></i>
                                </div>

                                <div class="i-2">
                                    <span class="t">
                                        Twentynine Palms, California, United States
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="footer-menu-contacts">
                        <li class="item">
                            <a href="" class="link">
                                <div class="footer-info--item">
                                    <div class="i-1">
                                        <i class="footer-menu-info--icon icon-email"></i>
                                    </div>

                                    <div class="i-2">
                                        <span class="t">
                                            info@youremail.com
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="item">
                            <a href="" class="link">
                                <div class="footer-info--item">
                                    <div class="i-1">
                                        <i class="footer-menu-info--icon icon-phone"></i>
                                    </div>

                                    <div class="i-2">
                                        <span class="t">
                                            888 333 9999
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <ul class="footer-menu-social">
                        <li class="item">
                            <a href="" class="link">
                                <div class="footer-menu-social--icon icon-fb"></div>
                            </a>
                        </li>

                        <li class="item">
                            <a href="" class="link">
                                <div class="footer-menu-social--icon icon-ig"></div>
                            </a>
                        </li>

                        <li class="item">
                            <a href="" class="link">
                                <div class="footer-menu-social--icon icon-tw"></div>
                            </a>
                        </li>

                        <li class="item">
                            <a href="" class="link">
                                <div class="footer-menu-social--icon icon-in"></div>
                            </a>
                        </li>

                        <li class="item">
                            <a href="" class="link">
                                <div class="footer-menu-social--icon icon-yt"></div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="c-2">
                    <h4 class="footer-title">Our Company</h4>

                    <ul class="footer-menu">
                        <li class="item"><a href="" class="link">Home</a></li>
                        <li class="item"><a href="" class="link">About</a></li>
                        <li class="item"><a href="" class="link">Career</a></li>
                        <li class="item"><a href="" class="link">Policy</a></li>
                        <li class="item"><a href="" class="link">Terms & Conditions</a></li>
                    </ul>
                </div>

                <div class="c-3">
                    <h4 class="footer-title">Some Links</h4>

                    <ul class="footer-menu">
                        <li class="item"><a href="" class="link">Services</a></li>
                        <li class="item"><a href="" class="link">Contacts</a></li>
                        <li class="item"><a href="" class="link">Reviews</a></li>
                        <li class="item"><a href="" class="link">Register</a></li>
                        <li class="item"><a href="" class="link">FAQs</a></li>
                    </ul>
                </div>

                <div class="c-4">
                    <h4 class="footer-title">Gallery</h4>

                    <ul class="footer-top--gallery">
                        <li class="item">
                            <img src="./images/gallery/img-1.jpg" alt="" class="img">
                        </li>

                        <li class="item">
                            <img src="./images/gallery/img-2.jpg" alt="" class="img">
                        </li>

                        <li class="item">
                            <img src="./images/gallery/img-3.jpg" alt="" class="img">
                        </li>

                        <li class="item">
                            <img src="./images/gallery/img-4.jpg" alt="" class="img">
                        </li>

                        <li class="item">
                            <img src="./images/gallery/img-5.jpg" alt="" class="img">
                        </li>

                        <li class="item">
                            <img src="./images/gallery/img-6.jpg" alt="" class="img">
                        </li>
                    </ul>

                    <div class="footer-top--gallery-link">
                        <a href="" class="link">Visit our gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-2">
        <div class="container">
            <div class="footer-bottom">
                <div class="c">
                    <div class="footer-copyright">
                        <span class="t">©2023 DriveMaster. All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>