<header class="header">
    <div class="row-1">
        <div class="container">
            <div class="header-top">
                <div class="c"></div>
                <div class="c"></div>
                <div class="c"></div>
            </div>
        </div>
    </div>

    <div class="row-2">
        <div class="container">
            <div class="header-main">
                <div class="c"></div>
                <div class="c"></div>
                <div class="c"></div>
            </div>
        </div>
    </div>
</header>