<header class="header">
    <div class="grid row-1">
        <div class="container">
            <div class="header-top">
                <div class="c-1">
                    <div class="header-top--item">
                        <div class="i icon-time"></div>

                        <div class="text">
                            <span class="t">Training Time: Sun-Fri(6am to 5pm)</span>
                        </div>
                    </div>
                </div>

                <div class="c-2">
                    <div class="header-top--item">
                        <div class="i icon-location"></div>

                        <div class="text">
                            <span class="t">Twentynine Palms, California, United States</span>
                        </div>
                    </div>
                </div>

                <div class="c-3">
                    <a href="mailto:info@yourmail.com" class="header-top--email-link">
                        <div class="header-top--item">
                            <div class="i icon-email"></div>

                            <div class="text">
                                <span class="t">info@youremail.com</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="grid row-2">
        <div class="container">
            <div class="header-main">
                <a href="/" class="logo-link">
                    <img src="./img/header/header-logo.png" alt="" class="logo-img">
                </a>

                <div class="menu">
                    <nav class="main-nav">
                        <ul class="main-menu">
                            <li class="item">
                                <a href="" class="link">Home</a>
                            </li>

                            <li class="item">
                                <a href="" class="link">About</a>
                            </li>

                            <li class="item">
                                <a href="" class="link">Programs</a>
                            </li>

                            <li class="item">
                                <a href="" class="link">FAQs</a>
                            </li>

                            <li class="item">
                                <a href="" class="link">Blog</a>
                            </li>

                            <li class="item">
                                <a href="" class="link">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="callback">
                    <a href="tel:8883339999" class="header-main--callback-link">
                        <div class="callback-item">
                            <div class="i icon-phone"></div>

                            <div class="text">
                                <span class="t">Call Us: 888 333 9999</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="mobile-menu">
                    <div class="mobile-menu--btn">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>