// Roboto Light
// Roboto Medium
// Roboto Regular
// Roboto Bold
// Roboto Italic

@font-face {
    font-family: RobotoLight;
    src: url(./fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(./fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(./fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(./fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoItalic;
    src: url(./fonts/roboto/Roboto-Italic.ttf);
}

// Roboto Condensed Light
// Roboto Condensed Medium
// Roboto Condensed Bold Italic

@font-face {
    font-family: RobotoCondensedLight;
    src: url(./fonts/roboto-condensed/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: RobotoCondensedMedium;
    src: url(./fonts/roboto-condensed/RobotoCondensed-Medium.ttf);
}

@font-face {
    font-family: RobotoCondensedBoldItalic;
    src: url(./fonts/roboto-condensed/RobotoCondensed-BoldItalic.ttf);
}