.services {
    margin: 50px 0;
    background-color: #333333;
}

.b-services {
    height: 78px;
    overflow: hidden;
    position: relative;
}

.services-list {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    .item {}
}

.service-list--item {
    display: flex;
    flex-direction: row;
    align-items: center;

    >.i {
        color: #F8A325;
        font-size: 12px;

        margin-left: 25px;
        margin-right: 25px;
    }

    >.text {

        >.t {
            font-family: 'RobotoItalic';
            font-size: 36px;

            color: #FFFFFF;

            white-space: nowrap;

            // @include media-breakpoint-only(xxl) {}

            // @include media-breakpoint-only(xl) {}

            // @include media-breakpoint-only(lg) {}

            // @include media-breakpoint-only(md) {}

            // @include media-breakpoint-only(sm) {}

            // @include media-breakpoint-only(xs) {}

            @include media-breakpoint-down(xxl) {
                font-size: 25px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 22px;
            }
        }
    }
}